.modal-content input,
.modal-content select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: none;
  background: #1f2937;
  color: white;
}

.datetime-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.toggle-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

/* SWITCH */
.switch {
  width: 46px;
  height: 24px;
  position: relative;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #374151;
  border-radius: 24px;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  transition: .3s;
}

.switch input:checked + .slider {
  background: #10b981;
}

.switch input:checked + .slider::before {
  transform: translateX(22px);
}

/* BUTTONS */
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.save-btn {
  background: #6b7280;
}

.cancel-btn {
  background: #14b8a6;
}
